<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>
  <body>
      <h1>Order list:</h1>
      <div th:object="${orders}">
        <div class="grid" th:each="order : ${orders}">
          <span th:text="${order.name}">User</span> ordered at <span th:text="${order.placedAt}"> some date</span>
          <ul>
            <li th:each="taco : ${order.tacos}">
              <span th:text="${taco.name}">taco name</span>
              [
              <span th:each="ingredient : ${taco.ingredients}">(<span th:text="${ingredient.name}">ingredient name</span>)</span>
              ]
            </li>
          </ul>
        </div>
      </div>
  </body>
</html>
